.logo {
    display: block;
    margin: 0 auto;
}

.body {
    justify-content: center;
    background: linear-gradient(to right, #F6EBE6, #AEE1F9);
    padding: 2%;
}

.row-container {
    justify-content: center;
    align-items: center;
}

.list-item {
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
    display: none;
    background-color: white;
}

.rock-list-item {
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
    display: none;
    background-color: white;
}

.lu-list-item {
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
    display: none;
    background-color: white;
}

.co-list-item {
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
    display: none;
    background-color: white;
}

.hoa-list-item {
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
    display: none;
    background-color: white;
}

body {
    min-height: 100%;
}

body::-webkit-scrollbar {
    width: 0px;
}

#img-size {
    display: none;
}

.btn-zalo {
    border: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    background: linear-gradient(to right, #009FFD, #2A2A72);
    color: white;
    font-weight: bold;
}

.btn-call {
    border: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    background: linear-gradient(to right, #98DE5B, #08E1AE);
    color: white;
    font-weight: bold;
}

.link-zalo {
    width: 80%;
}

.link-call {
    width: 80%;
}

#content {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}